.css-dghc8s-MuiStack-root {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  /* -webkit-box-align: stretch; */
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #fff;
  border-bottom-left-radius: 20px;
  width: 270px;
  height: 282px;
  cursor: pointer;
  gap: 10px;
  width: 180px;
  height: 150px;
}
